main,
.navbar,
.menu-mobile__navbar,
.menu-mobile__list,
.product,
.product__picture,
.product__buttons,
.metrics__list,
.metrics__item,
.about,
.about__list,
.about__item,
.about__item-remainder {
    display: flex;
}

main,
.menu-mobile__list,
.product,
.product__picture,
.metrics__list,
.metrics__item,
.about,
.about__list,
.about__item {
    flex-direction: column;
}

main,
.navbar,
.product,
.product__picture,
.product__buttons,
.metrics__list {
    align-items: center;
}

main {
    justify-content: center;
    gap: 1rem;
}


/* Navegador */
.navbar {
    justify-content: space-between;
}

.menu-mobile__navbar {
    justify-content: space-between;
    align-items: center;
}

    /* Conteúdo do menu mobile */
.menu-mobile__list {
    align-items: start;
}

.menu-mobile__button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Product */
.product {
    gap: 1.5rem;
}

.product__buttons {
    justify-content: space-around;
    width: 76vw;
}

/* Product modal */
.product-modal__header {
    display: flex;
    justify-content: space-between;
}

.product-modal__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-modal__item-header {
    display: flex;
    justify-content: space-between;
}

.product-modal__item-footer {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}


/* Metrics */
.metrics__list {
    gap: 1rem;
}

.metrics__item {
     gap: 0.5rem;
}


/* About */
.about,
.about__list,
.about__item {
    gap: 1.5rem;
}

.about__item {
    align-items: start;
}

.about__item-remainder {
    gap: 0.5rem;
}