
/* Navegador */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* Conteúdo do menu mobile */
    .menu-mobile__list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

/* Product */
.product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}