main,
.navbar,
.menu-mobile__navbar,
.menu-mobile__list,
.product,
.product__picture,
.product__buttons,
.metrics__list,
.metrics__item,
.about,
.about__list,
.about__item,
.about__item-remainder {
    display: flex;
}

main,
.menu-mobile__list,
.product,
.product__picture,
.metrics__list,
.metrics__item,
.about,
.about__list,
.about__item {
    flex-direction: column;
}

main,
.navbar,
.product,
.product__picture,
.product__buttons,
.metrics__list {
    align-items: center;
}

main {
    justify-content: center;
    gap: 1rem;
}


/* Navegador */
.navbar {
    justify-content: space-between;
}

.menu-mobile__navbar {
    justify-content: space-between;
    align-items: center;
}

.menu-desktop {
    display: none;
}

    /* Conteúdo do menu mobile */
.menu-mobile__list {
    align-items: start;
}

.menu-mobile__button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Product */
.product {
    gap: 1.5rem;
}

.product__buttons {
    justify-content: space-around;
    width: 100%;
}

/* Product modal */
.product-modal__header {
    display: flex;
    justify-content: space-between;
}

.product-modal__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-modal__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.product-modal__item-footer {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

/* acknowledgment modal */
.modal-acknowledgment__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Metrics */
.metrics__list {
    gap: 1rem;
}

.metrics__item {
     gap: 0.5rem;
}


/* About */
.about,
.about__list,
.about__item {
    gap: 1.5rem;
}

.about__item {
    align-items: start;
}

.about__item-remainder {
    gap: 0.5rem;
}

.about__item-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 1340px) {
    .navbar {
        justify-content: space-between;
        margin: 0 7rem;
    }

    .menu-mobile__button {
        display: none;
    }

    .menu-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .product__buttons {
        justify-content: space-between;
        width: 90%;
    }

    .product__button-bookmark {
        display: flex;
        align-items: center;
    }

    

    .metrics__list {
        flex-direction: row;
    }

    .metrics__item {
        align-items: flex-start;
    }

    .about__item-titles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about__item-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .product-modal__item-header {
        justify-content: start;
    }

    .product-modal__item-header label {
        display: flex;
        gap: 1rem;
    }
}