
/* Product */

main {
    position: relative;
}

.container {
    background: var(--white);
    border-radius: 8px;
    text-align: center;
    padding: 3rem 1.2rem 2rem 1.2rem;
    border: 1px solid #e6e6e6;
    width: 76vw;
}

.product {
    position: absolute;
    top: -55px;
}

.product__content {
    position: relative;
}

.product__picture {
    position: absolute;
    top: -80px;
}

.titles {
    color: var(--black);
    font-size: 22px;
    font-weight: 700;
}

.texts {
    color: var(--dark-gray);
    font-size: 14px;
}

.product__text {
    margin: 1.4rem 0;
}

.product__button {
    padding: 1.2em 3em;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    background: var(--moderate-cyan);
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.product__button-bookmark {
    border: none;
    background: none;
    cursor: pointer;
}


/* Metrics */

.metrics {
    margin-top: 44vh;
}

.metrics__title {
    font-size: 28px;
}

.metrics__text {
    margin: 0.8em 0;
}

.barra {
    margin: 1.5rem auto 0;
    width: 70vw;
    height: 2vh;
    background: #eeeded;
    border-radius: 8px;
}

.barra-item {
    width: 79%;
    height: 2vh;
    background: var(--moderate-cyan);
    border-radius: 8px;
}