/* Product */

.container {
    background: var(--white);
    border-radius: 8px;
    text-align: center;
    padding: 3rem 1.2rem 2rem 1.2rem;
    border: 1px solid #e6e6e6;
    width: 76vw;
}

.product {
    position: relative;
}

.product__picture {
    position: absolute;
    top: -30px;
}

.titles {
    color: var(--black);
    font-size: 22px;
    font-weight: 700;
}

.texts {
    color: var(--dark-gray);
    font-size: 14px;
}

.product__button {
    padding: 1.2em 3em;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    background: var(--moderate-cyan);
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.product__button-bookmark {
    border: none;
    background: none;
    cursor: pointer;
}


/* Metrics */

.metrics__title {
    font-size: 28px;
}

.barra {
    margin: 0.5rem auto 0;
    width: 70vw;
    height: 2vh;
    background: #eeeded;
    border-radius: 8px;
}

.barra-item {
    width: 79%;
    height: 2vh;
    background: var(--moderate-cyan);
    border-radius: 8px;
}


/* About */

.about {
    text-align: start;
}

.about__title {
    font-size: 20px;
    font-weight: 700;
}

.about__description {
    font-size: 14.5px;
    color: var(--dark-gray);
}

.about__item {
    background: var(--white);
    border-radius: 8px;
    padding: 1.5rem 1.2rem;
    border: 1px solid #e6e6e6;
}

.about__item-titles {
    font-weight: 700;
}

.about__item-title {
    font-size: 16px;
    color: var(--black);
}

.about__item-subtitle {
    font-size: 15px;
    color: var(--moderate-cyan);
}

.about__item-description {
    font-size: 15px;
    color: var(--dark-gray);
}

.about__item-value {
    font-size: 30px;
    font-weight: 700;
}

.about__item-left {
    color: var(--dark-gray);
    font-size: 14px;
}

.about__item-button {
    padding: 1.2em 3em;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    background: var(--moderate-cyan);
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.about__item--disabled {
    opacity: 0.5;
}

.about__item-button--disabled {
    background: var(--dark-gray);
    cursor: default;
}